body {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #7c7c7c;
}

#cabecalho .nav .nav-link,
.text-black {
    color: black;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
}

.equipe-arquitetura img {
    border-radius: 50%;
}

#nossa-equipe,
#contato {
    background-color: #c0c0c0;
}

.nav-projetos .nav-link.active {
    background-color: #c0c0c0;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

.form-campo .error {
    color: rgb(255, 0, 0);
}

textarea {
    resize: none;
    height: 150px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    .equipe-arquitetura {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel-item img {
        height: 480px;
    }
}